.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 55%;
    padding: 3rem;
}

.menuDetails > .menuTitle {
    font-size: 1.8rem;
}

.menuDetails > .rateCost, .cuisines {
    font-size: 1.1rem;
}

.menuText {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
}

.menuCategories {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    font-weight: 700;
}


